body{
    color: #494949;
}
header{
    border: solid;
    border-color: orange;
    border-width: 0.25rem;
    border-radius: 2rem;
    text-align: center;
    margin: 0.5rem;
}
h2{
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}
.red{
    color: red;
    font-weight: bold;
}
#copyright{
    text-align: center;
}